@media screen and (max-width: 1415px) {
    .navItem {display: none;}
    .hidden {display: inline-block;}
    header{padding-top: 0vh;}
    #pageTitle {min-width: none;}
}

@media screen and (min-width: 1416px) {
    .mobileNav {display: none;}
    .mobileNavItem{display: none;}
}

@media screen and (max-width: 533px) {
    .headerNav{flex-direction: column; justify-content: center;} 
    #pageTitle{margin-top: 2vh;}   
}
